# Environnement virtuel
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Secrets
.env
*.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Backups SQL
*.sql
backup_*.sql
requirements_backup.txt
